---
title: Adamamerica Real Estate, Diego Zaks
---
<main>
	<div class="projectWrap">
		<section id="projectHeader">
			<div class="smallImageWrapper">
				<img src="/images/projects/adamamerica/Adamamerica-logo.png" alt="">
				<h3>A real estate brand that’s doing unconventional things for a new market.</h3>
			</div>
		</section>
		<section>
			<div class="imageWrapper">
				<img src="/images/projects/adamamerica/Adamamerica-01.jpg" alt="">
			</div>
			<h3>Working closely with Adamamerica, I created a visual language that reflects their values and commitment to new standards of quality, transparency and simplicity.</h3>
		</section>
		<section>
			<div class="reduced">
				<img src="/images/projects/adamamerica/Adamamerica-02.jpg" alt="">
			</div>
			<h3>Simple typography and an ascetic color treatment contrasts and complements the complexity of the imagery.</h3>
			<div class="smallImageWrapper">
				<img src="/images/projects/adamamerica/Adamamerica-Logo-01.png" alt="">
			</div>
			<h3>The company’s mix of new ideas and traditional business practices is represented in the Gill Sans typeface. Humanist and cleanly modern, it incorporates influences of classic typefaces.</h3>
			<div class="smallImageWrapper">
				<img src="/images/projects/adamamerica/Adamamerica-Logo-02.png" alt="">
			</div>
		</section>
		<section>
			<h3>A minimalist, yet highly recognizable symbol cements the brand’s identity throughout different multi-media channels.</h3>
			<div class="imageWrapper">
				<img src="/images/projects/adamamerica/Adamamerica-03.jpg" alt="">
			</div>
		</section>
	</div>
</main>