---
title: Baba Cool Brooklyn, Diego Zaks
---
<main>
	<div class="projectWrap">
		<section id="projectHeader">
			<div class="smallImageWrapper">
				<img src="/images/projects/babacool/baba-logo.png" alt="">
				<h3>Simple pleasures in the heart of a Brooklyn community.</h3>
			</div>
		</section>
		<section>
			<div class="imageWrapper">
				<img src="/images/projects/babacool/Baba-Logo-07.jpg" alt="">
			</div>
			<h3>Close collaboration with the owners was the key to create a design that met the needs of the café, while being sustainable in the long run and keeping production costs down.</h3>

			<div class="imageWrapper">
				<img src="/images/projects/babacool/Baba-Logo-01.jpg" alt="">
			</div>
		</section>
		<section>
			<div class="smallImageWrapper">
				<img src="/images/projects/babacool/baba-logo.png" alt="">
			</div>
			<h3>Custom lettering constrasted with a classic geometric typeface creates the necessary contrast to communicate the eclectic feel of the café. The mix of new and classic.</h3>
			<div class="smallImageWrapper">
				<img src="/images/projects/babacool/baba-goat.png" alt="">
			</div>
			<h3>The seal incorporates the Baba Cool mascot, adding a friendly touch to a minimalist and clean visual identity.</h3>
		</section>
		<section>
			<div class="doubleImageWrapper">
				<div class="column">
					<img src="/images/projects/babacool/Baba-Logo-06.jpg" alt="">
				</div>
				<div class="column">
					<img src="/images/projects/babacool/Baba-Logo-05.jpg" alt="">
				</div>
			</div>
		</section>
		<section>
			<div class="human">
			<p><span class="highlight">An eclectic &amp; minimalist café, that feels new and modern while understanding its place within the community.</span></p>
			</div>
		</section>
		<section>
			<div class="doubleImageWrapper">
				<div class="column">
					<img src="/images/projects/babacool/Baba-Logo-03.jpg" alt="">
				</div>
				<div class="column">
					<img src="/images/projects/babacool/Baba-Logo-04.jpg" alt="">
				</div>
			</div>
			<div class="imageWrapper">
				<img src="/images/projects/babacool/Baba-Logo-02.jpg" alt="">
			</div>
		</section>

	</div>
</main>