---
title: Classic Specs, Diego Zaks
---
<main>
	<div class="projectWrap">
		<section id="projectHeader">
			<img src="/images/projects/classicspecs/ClassicSpecs-Branding-01.png" alt="">
			<h3>Building an e-commerce eyewear brand synonymous with artfully curated content.</h3>
		</section>
		<section>
			<div class="imageWrapper">
				<img src="/images/projects/classicspecs/ClassicSpecs-Design-01.jpg" alt="">
			</div>

			<h3>The goal; Increasing sales through a direct connection with the c:s community. Transforming the brand into a curated hub of great content.</h3>
		</section>
		<section>
			<div class="reduced">
				<img src="/images/projects/classicspecs/ClassicSpecs-Design-02.jpg" alt="">
			</div>

			<div class="human">
			<p><span class="highlight">Engaging a fashion conscious crowd through stories, lookbooks, and photo essays featuring the Classic Specs community of artists.</span></p>
			</div>
		</section>
		<section>
			<div class="imageWrapper">
				<img src="/images/projects/classicspecs/ClassicSpecs-Design-05.jpg" alt="">
			</div>
			<div class="imageWrapper">
				<img src="/images/projects/classicspecs/ClassicSpecs-Design-04.jpg" alt="">
			</div>
			<h3>As a Lead Creative Director, I was tasked with the production, coordination, and implementation of all content, while maintaining a coherent brand voice. At the same time; optimizing UX for increased conversion rates and sales through rigourous A/B testing.</h3>
			<div class="reduced">
				<img src="/images/projects/classicspecs/ClassicSpecs-Design-03.jpg" alt="">
			</div>
		</section>
		<section>
			<h3>Social media as a space for collaboration with artists.</h3>
			<div class="doubleImageWrapper">
				<div class="column">
					<img src="/images/projects/classicspecs/CS-insta-03.jpg" alt="">
				</div>
				<div class="column">
					<img src="/images/projects/classicspecs/CS-insta-01.jpg" alt="">
				</div>
			</div>
			<div class="doubleImageWrapper">
				<div class="column">
					<img src="/images/projects/classicspecs/CS-insta-04.jpg" alt="">
				</div>
				<div class="column">
					<img src="/images/projects/classicspecs/CS-insta-02.jpg" alt="">
				</div>
			</div>
		</section>
	</div>
</main>