---
title: Invisible Protests, Diego Zaks
---
<main>
	<div class="projectWrap">
		<section id="projectHeader">
		<div class="smallImageWrapper">
			<img src="/images/projects/invisible/Invisible-Protest-Logo.png" alt="">
			<h3>Design &amp; Technology hacked together for a cause</h3>
		</div>
		</section>
		<section>
			<div class="doubleImageWrapper">
				<div class="column">
					<img src="/images/projects/invisible/Invisible-01.jpg" alt="">
				</div>
				<div class="column">
					<img src="/images/projects/invisible/Invisible-02.jpg" alt="">
				</div>
			</div>
			<h3>In 2014-15, Venezuela was submerged in chaos. Protests and abuses of power were rampant throughout the streets of my hometown. The only fleeting record was on social media channels.<br />&nbsp;<br/>
How could I make a transitory poster that emulated the fleeting nature of the information coming from Venezuela?<br />&nbsp;<br/>What kind of poster is the result of a real-time stream of information?</h3>
		</section>
		<section>
			<div class="doubleImageWrapper">
				<div class="column">
					<img src="/images/projects/invisible/Invisible-03.jpg" alt="">
				</div>
				<div class="column">
					<img src="/images/projects/invisible/Invisible-04.jpg" alt="">
				</div>
			</div>
			<h3>Transporting the issues form Caracas to New York comes across simply and directly. The images are shocking and unpleasant, but at the same time they have an appeal that cannot be denied.</h3>
		</section>
		<section>
			<div class="imageWrapper">
				<img src="/images/projects/invisible/GIF2.gif" alt="">
			</div>
			<div class="human">
			<p>Designers cannot wait for technology to come to us, <span class="highlight">we must actively seek it out.</span></p>
			<h3>We owe it to ourselves to deconstruct our tools and to constantly question the state of our practice.</h3>
			</div>
		</section>
		<section>
			<div class="imageWrapper">
				<img src="/images/projects/invisible/invisible-protests-05.jpg" alt="">
			</div>
			<h3>For this project, methodologies from hardware prototyping, electronics and agile software development were used to create the custom LED lighting rig necessary to produce the images in mid-air.</h3>
			<div class="imageWrapper">
				<img src="/images/projects/invisible/invisible-protests-06.jpg" alt="">
			</div>
		</section>
	</div>
</main>