---
title: Get in touch
---
<header>
	<h1><a href="http://diegozaks.com">Diego Zaks</a></h1>
	<nav>
		<ul>
			<li><a href="/index.html" class="contactLink">Work</a></li>
			<li><a href="https://twitter.com/diegozaks" target="_blank" class="twitterNavLink"><img src="/images/icons/TwitterIcon.png" alt=""></a></li>
		</ul>
	</nav>
</header>

<main>
	<section>
	<div class="contactWrapper">
		<p>Interested in working together?</p>
		<p>If you’d like to tell me about your ideas, are curious about what I can offer, or simply want to chat, please drop me a line, I’m always open to meet &amp; work with new people.
		</p>
		<a href="mailto:hello@diegozaks.com" class="contactLinkMain">hello@diegozaks.com</a>
		<p id="social">or if you prefer...</p>
		
		<ul>
			<li><a href="https://twitter.com/diegozaks" target="_blank" class="twitterLink"><img src="/images/icons/TwitterIcon.png" alt=""></a></li>
			<li><a href="https://www.linkedin.com/in/diegozaks" target="_blank" class="twitterLink"><img src="/images/icons/LinkedInIcon.png" alt=""></a></li>
			<!-- <li><a href="https://dribbble.com/diegozaks" target="_blank" class="twitterLink"><img src="/images/icons/DribbbleIcon.png" alt=""></a></li> -->
			<li><a href="https://angel.co/diegozaks" target="_blank" class="twitterLink"><img src="/images/icons/AngelCoIcon.png" alt=""></a></li>
		</ul>
	</div>
	</section>
</main>